@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
header {
  position: absolute;
  top: 20px;
  bottom: auto;
  left: 10px;
  right: 10px;
  z-index: 100;
}

header .info-container .logo-container {
  display: none;
}

header .info-container nav {
  text-align: center;
}

header .info-container nav a {
  color: #fff;
}

header .info-container nav a + a {
  margin-left: 20px;
}

@media (min-width: 768px) {
  header {
    top: 40px;
  }
  header .info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .info-container .logo-container {
    display: block;
  }
}

.btn {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #ff4e50;
  padding: 8px 15px;
  font-size: 14px;
  text-transform: none;
  border: 2px solid #ff4e50;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 40px;
  font-weight: normal;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  line-height: 36px;
  outline: none;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: #fff;
  border: 2px solid #ff4e50;
  color: #ff4e50;
}

.btn.white-border {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

.btn.white-border:hover, .btn.white-border:active, .btn.white-border:focus {
  border: 2px solid #ff4e50;
  background-color: #fff;
  color: #ff4e50;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  color: #444444;
  font-size: 14px;
}

a {
  color: #ff4e50;
  text-decoration: none;
  font-size: 14px;
}

.layout-container {
  padding: 0px 15px;
  max-width: 960px;
  margin: 0 auto;
}

.bold-text {
  font-weight: bold;
}

.logo-container {
  text-align: center;
}

.logo-container a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-container a:hover, .logo-container a:active, .logo-container a:focus {
  color: #ff4e50;
}

@media (min-width: 768px) {
  .logo-container {
    text-align: left;
  }
}

.home-banner {
  background: url("../assets/img/background.png") #000 no-repeat center center;
  background-size: cover;
  height: 570px;
  position: relative;
}

.home-banner .banner-content {
  position: absolute;
  top: auto;
  bottom: 150px;
  left: 0px;
  right: 0px;
  z-index: 10;
  padding: 0px 10px;
  text-align: center;
}

.home-banner .banner-content h1 {
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
}

.home-banner .banner-content h1 span {
  display: block;
}

.home-banner .banner-content p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .home-banner {
    height: 700px;
  }
  .home-banner .banner-content {
    bottom: calc(50% - 128px);
  }
  .home-banner .banner-content .logo-container {
    display: none;
  }
  .home-banner .banner-content h1 {
    font-size: 52px;
    margin: 0px 0px 20px;
  }
  .home-banner .banner-content p {
    margin: 0px 0px 35px;
  }
}
/*# sourceMappingURL=main.css.map */