.logo-container {
  text-align: center;

  a {
    color: $white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    @include on-event {
      color: $primary-color;
    }
  }

  @media (min-width: 768px) {
    text-align: left;
  }
}

.home-banner {
  background: url('../assets/img/background.png') #000 no-repeat center center;
  background-size: cover;
  height: 570px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba($black, 0.4);
    z-index: 0;
  }

  .banner-content {
    z-index: 10;
    text-align: center;

    h1 {
      font-size: 30px;
      line-height: 1.2;
      color: $white;

      span {
        display: block;
      }
    }

    p {
      color: $white;
      font-size: 18px;
      font-weight: 300;
    }
  }

  @media (min-width: 768px) {
    height: 700px;

    .banner-content {
      .logo-container {
        display: none;
      }

      h1 {
        font-size: 52px;
        margin: 0px 0px 20px;
      }

      p {
        margin: 0px 0px 35px;
      }
    }
  }
}

.steps-work {
  padding: 90px 0px 50px;

  h2 {
    margin: 0px 0px 20px;
    color: $text-color;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
  }

  .steps-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .step {
      background: url('../assets/img/step-1.png') $white no-repeat center center;
      background-size: cover;
      position: relative;
      max-width: 300px;
      margin: 0 auto;
      min-height: 240px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 30px;
      border-radius: 10px;
      overflow: hidden;

      + .step {
        margin-top: 10px;
      }

      .overlay {
        background-color: rgba($black, 0.3);
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 0;
      }

      &#step-2 {
        background-image: url('../assets/img/step-2.png');
      }

      &#step-3 {
        background-image: url('../assets/img/step-3.png');
      }

      h3 {
        color: $white;
        display: inline-block;
        background-color: $primary-color;
        padding: 8px 15px;
        border-radius: 40px;
        font-weight: 400;
        z-index: 10;
      }

      p {
        color: $white;
        margin: 0px;
        z-index: 10;

        &.title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    h2 {
      margin-bottom: 30px;
    }

    .steps-container {
      flex-direction: row;
      justify-content: space-between;

      .step {
        flex-basis: 236px;
        min-height: 400px;

        + .step {
          margin-top: 0px;
          margin-left: 20px;
        }
      }
    }
  }

  @media (min-width) {
    .steps-container {
      .step {
        flex-basis: 300px;
      }
    }
  }
}
