.logo-container {
  text-align: center;

  a {
    color: $white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    @include on-event {
      color: $primary-color;
    }
  }

  @media (min-width: 768px) {
    text-align: left;
  }
}

.home-banner {
  background: url('../assets/img/background.png') #000 no-repeat center center;
  background-size: cover;
  height: 570px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba($black, 0.1);
    z-index: 0;
  }

  .banner-content {
    z-index: 10;
    text-align: center;

    h1 {
      font-size: 30px;
      line-height: 1.2;
      color: $white;
      font-weight: 600;

      span {
        display: block;
      }
    }

    p {
      color: $white;
      font-size: 18px;
      font-weight: 300;
    }
  }

  @media (min-width: 768px) {
    height: 700px;

    .banner-content {
      .logo-container {
        display: none;
      }

      h1 {
        font-size: 52px;
        margin: 0px 0px 20px;
      }

      p {
        margin: 0px 0px 35px;
      }
    }
  }
}

.steps-work {
padding: 50px 0px;

  h2 {
    margin: 0px 0px 20px;
    color: $text-color;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
  }

  .steps-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .step {
      background: url('../assets/img/step-1.png') $white no-repeat center center;
      background-size: cover;
      position: relative;
      max-width: 300px;
      margin: 0 auto;
      min-height: 240px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 30px;
      border-radius: 10px;
      overflow: hidden;

      + .step {
        margin-top: 10px;
      }

      .overlay {
        background-color: rgba($black, 0.3);
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 0;
      }

      &#step-2 {
        background-image: url('../assets/img/step-2.png');
      }

      &#step-3 {
        background-image: url('../assets/img/step-3.png');
      }

      h3 {
        color: $white;
        display: inline-block;
        background-color: $primary-color;
        padding: 8px 15px;
        border-radius: 40px;
        font-weight: 400;
        z-index: 10;
      }

      p {
        color: $white;
        margin: 0px;
        z-index: 10;

        &.title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    padding: 90px 0px 50px;

    h2 {
      margin-bottom: 30px;
    }

    .steps-container {
      flex-direction: row;
      justify-content: space-between;

      .step {
        flex-basis: 236px;
        min-height: 400px;

        + .step {
          margin-top: 0px;
          margin-left: 20px;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .steps-container {
      .step {
        flex-basis: 300px;
      }
    }
  }
}

.meet-partner {
  h2 {
    margin: 0px 0px 20px;
    color: $text-color;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
  }

  .partners-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .partner {
      text-align: center;

      + .partner {
        margin-top: 20px;
      }

      .img-container {
        position: relative;
        display: inline-block;

        &:after {
          content: '';
          background: url('../assets/img/music-icon.png') no-repeat center center;
          width: 32px;
          height: 32px;
          border-radius: 100%;
          background-color: $primary-color;
          position: absolute;
          top: auto;
          bottom: 5px;
          right: 0px;
          left: auto;
        }

        &#marie {
          &:after {
            background: url('../assets/img/brush-icon.png') no-repeat center center;
            background-color: $light-green;
          }
        }

        &#diana {
          &:after {
            background: url('../assets/img/camera-icon.png') no-repeat center center;
            background-color: $secondary-color;
          }
        }

        &#christopher {
          &:after {
            background: url('../assets/img/airplane-icon.png') no-repeat center center;
            background-color: $blue;
          }
        }
      }

      p {
        &.description {
          font-family: $secondary-font;
          color: $text-color-secondary;
        }
      }
    }
  }

  .btn-container {
    text-align: center;
    margin: 30px 0px;
  }

  @media (min-width: 768px) {
    .partners-container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 500px;
      margin: 0 auto;

      .partner {
        flex-basis: 50%;
        width: 50%;
        margin-bottom: 40px;

        + .partner {
          margin-top: 0px;
        }

        p {
          max-width: 236px;
          margin: 10px auto;

          &.description {
            min-height: 50px;
          }
        }
      }
    }

    .btn-container {
      margin-top: 0px;
    }
  }

  @media (min-width: 992px) {
    padding-top: 40px;

    .partners-container {
      max-width: none;

      .partner {
        width: auto;
        flex-basis: 25%;

        p {
          max-width: 205px;
        }
      }
    }
  }
}

.discover-holiday {
  overflow: hidden;
  
  h2 {
    margin: 0px 0px 30px;
    color: $text-color;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
  }

  .activities-container {
    .activity {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      min-height: 120px;
      max-width: 300px;
      border-radius: 10px;
      margin: 0 auto;
      background: url('../assets/img/activity-sports.png') $white no-repeat center center;
      background-size: cover;

      &#wellness {
        background-image: url('../assets/img/activity-wellness.png');
      }

      &#extreme {
        background-image: url('../assets/img/activity-extreme.png');
      }

      &#games {
        background-image: url('../assets/img/activity-games.png');
      }

      &#culture {
        background-image: url('../assets/img/activity-culture.png');
      }

      &#enjoyment {
        background-image: url('../assets/img/activity-enjoyment.png');
      }

      &#traveling {
        background-image: url('../assets/img/activity-traveling.png');
      }

      + .activity {
        margin-top: 10px;
      }

      .overlay {
        background-color: rgba($black, 0.3);
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 0;
        transition: 0.3s ease all;
      }

      h3 {
        color: $white;
        font-size: 22px;
        max-width: 190px;
        margin: 0 auto;
        font-weight: bold;
        z-index: 5;
        text-align: center;
      }

      @include on-event{
        .overlay{
          background-color: rgba($primary-color, 0.5);
        }
      }
    }
  }

  @media (min-width: 768px) {
    padding-top: 50px;

    .activities-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      .activity {
        width: calc(33% - 10px);
        flex-basis: auto;
        max-width: none;
        min-height: 310px;
        margin: 0px 0px 20px;

        &#culture {
          width: calc(66% - 2px);
        }

        &#enjoyment {
          width: calc(66% - 2px);
        }

        + .activity {
          margin-top: 0px;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .activities-container {
      .activity {
        min-height: 310px;
      }
    }
  }
}

.create-holiday {
  text-align: center;
  position: relative;
  padding: 30px 0px;

  h2 {
    margin: 0px;
    color: $text-color;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
  }

  p {
    font-family: $secondary-font;
    color: $text-color-secondary;
    font-size: 18px;
    margin: 10px 0px;
  }

  form {
    position: relative;
    // max-width: 300px;
    // margin: 0 auto;

    input {
      &.text-input {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
        height: 40px;
        box-sizing: border-box;
        padding: 5px 30px 5px 15px;
        border: 1px solid $text-color;
        transition: 1s ease all;
        -webkit-animation: glow 5000ms infinite;
                animation: glow 5000ms infinite;

        // @include on-event{
        //   animation: none;
        // }
      }

      &.btn {
        min-height: 40px;
        line-height: 1.2;
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 80px 0px;

    h2 {
      margin: 0px 0px 30px;
    }

    p {
      margin: 40px 0px 30px;
    }

    form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      input {
        &.text-input {
          width: 300px;
          margin: 0px 5px;
          max-width: none;
        }

        &.btn {
          width: auto;
          max-width: none;
          margin: 0px 5px;
        }
      }
    }
  }
}
