footer {
  border-top: 2px solid $primary-color;
  padding: 20px 0px;

  .columns-container {
    .logo-container {
      text-align: center;

      a {
        font-size: 16px;
        color: $primary-color;
        font-weight: 400;
      }
    }

    .company-column {
      p {
        text-align: center;

        &.title {
          font-weight: 600;
        }
      }

      ul {
        list-style: none;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        li {
          margin: 5px 10px;

          a {
            font-family: $secondary-font;
            color: $text-color-tertiary;
          }
        }
      }
    }

    .partners-column {
      p {
        &.title {
          text-align: center;
          font-weight: 600;
        }
      }
    }

    .designed {
      text-align: center;

      p {
        text-transform: uppercase;
        color: #ccc;
        margin: 10px 0px;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 40px 0px 20px;

    .columns-container {
      padding: 0px 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .company-column {
        p {
          &.title {
            margin-top: 0px;
            text-align: left;
          }
        }

        ul {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          li {
            margin: 3px 0px;
          }
        }
      }

      .partners-column {
        p {
          &.title {
            margin-top: 0px;
          }
        }
      }

      .designed {
        p {
          margin-top: 0px;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .columns-container {
      padding: 0px;

      .designed {
        width: 25%;
        text-align: right;
      }
    }
  }
}
