header {
  position: absolute;
  top: 20px;
  bottom: auto;
  left: 10px;
  right: 10px;
  z-index: 100;

  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo-container {
      display: none;
    }

    nav {
      text-align: center;

      a {
        color: $white;

        @include on-event {
          color: $primary-color;
        }

        + a {
          margin-left: 20px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    top: 40px;

    .info-container {
      justify-content: space-between;
      
      .logo-container {
        display: block;
      }
    }
  }
}
