* {
  font-family: $primary-font;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
}

p {
  color: $text-color;
  font-size: 14px;
  line-height: 1.2;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-size: 14px;
}

.layout-container {
  padding: 0px 15px;
  max-width: 960px;
  margin: 0 auto;
}

.bold-text {
  font-weight: bold;
}
