.show-down {
  transform: translateY(-60px);
  opacity: 0;
  transition: 0.3s ease all;

  &.in {
    transform: translateY(0);
    opacity: 1;
  }
}

.show-up {
  transform: translateY(60px);
  opacity: 0;
  transition: 0.3s ease all;

  &.in {
    transform: translateY(0);
    opacity: 1;
  }
}

.show-right {
  transform: translateX(60px);
  opacity: 0;
  transition: 0.3s ease all;

  &.in {
    transform: translateX(0);
    opacity: 1;
  }
}

.show-left {
  transform: translateX(-60px);
  opacity: 0;
  transition: 0.3s ease all;

  &.in {
    transform: translateX(0);
    opacity: 1;
  }
}
