
//Colors declaration
$primary-color: #ff4e50; // Main red color
$secondary-color: #ff773c; // Main orange color
$white: #fff;
$black: #000;

$text-color: #444444;

//Font declaration
$primary-font: 'Montserrat', sans-serif;