//Colors declaration
$primary-color: #ff4e50; // Main red color
$secondary-color: #ff773c; // Main orange color
$white: #fff;
$black: #000;
$light-green: #19d4ca;
$blue: #667df3;

$text-color: #444444;
$text-color-secondary: #666666;
$text-color-tertiary: #999999;

//Font declaration
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
